*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --main-color: #000408;
  --primary-color: #ffaa00;
  --purple-color: #b9002e;
  --success-color: #009231;
  --second-color: #fff;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--main-color);
  color: var(--second-color);
}

h1{
  padding: 15px 0;
  font-size: 35px;
  font-weight: bold;
}

.list_of_words_found{
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  margin: -20px 0 0;
}

.underline{
  text-transform: capitalize;
  text-decoration: underline;
}

#correct_word{
  font-size: 22px;
  color: var(--purple-color);
  text-decoration: line-through;
}

.list_of_words_found #word_input{
  margin: 5px 0 -5px;
  font-size: 25px;
  font-weight: bold;
}

#game_container{
  margin: 0 0 10px;
  width: 30%;
  height: 60vh;
}

#game_boxs{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px ;
}

#game_boxs .word_box, .clicked, .disabled_button{
  padding: 0 0 5px;
  user-select: none;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background: none;
  outline: none;
  border: none;
  width: 55px;
  height: 55px;
}

#game_boxs .word_box{
  cursor: pointer;
  border: 1px solid #aaa;
  color: var(--second-color);
  transition: border .5s ease;
}

#game_boxs .word_box:hover{
  border: 1px solid var(--primary-color);
}

.clicked{
  background-color: var(--primary-color);
  color: var(--main-color);
}

.disabled_button{
  border: 1px solid #aaa;
  background-color: var(--success-color);
  color: var(--second-color);
  cursor: not-allowed;
}

.win{
  display: flex;
  flex-direction: column;
}

#show_win{
  position: absolute;
  top: 0;
  left: 0;
  padding: 15% 0 0;
  display: none;
  text-align: center;
  width: 1350px;
  height: 100vh;
  background-color: #000408e3;
}

.win .congrats{
  margin: 0 0 50px;
}

.win .restart_button{
  padding: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--primary-color);
  transition: .5s ease;
}

.win .restart_button:hover{
  letter-spacing: 1.8px;
}

#win_show{
  display: block;
}
  
footer{
  text-align: center;
  margin: 10px 0;
  padding: 15px 0;
}



@media screen and (max-width: 768px) {
  body{
    font-size: 62.5%;
  }
  #game_container{
    width: 100%;
  }
  #game_boxs{
    gap: 2px 0;
  }
  #game_boxs .word_box, .clicked, .disabled_button{
    width: 50px;
    height: 50px;
  }
  #show_win{
    padding: 50% 0;
    width: 100%;
  }
}